# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django
*.log
job_portal/db.sqlite3
job_portal/db.sqlite3-journal

# User uploaded media
job_portal/media/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Python distribution
*.egg-info/
dist/
build/